#ZF files#
.buildpath
.project
.settings/
[d|D]ocs/
tests/
public/uploads
application/models/doctrine
public/js/libs
public/ckeditor
public/kcfinder
public/images/captcha

#Backup files#
*.[b|B]ak

#OS junk files#
.DS_Store*
[T|t]humbs.db
