@CHARSET "ISO-8859-1";

* {
	font-size:14px;
}

h1,h2,h3,h4 {
	margin:1em 0;
	color: #1FA4CD;
}

h1 {
	font-size:20px;
}

h2 {
	font-size:18px;
}

ul.formTable {
	display: table;
	width: 100%;
}

ul.formTable li {
	display: table-row;
	height: 35px;
}

ul.formTable li label {
	display: table-cell;	
	min-width: 50px;
}

ul.errors {
	list-style-type: disc;
}

ul.errors li {
	color: red;
	font-size: 10px;
}

.noData {
	font-style:italic;
	color:#D0D0D0;
}
/**** Left Menu ****/

ul.navigation {
	padding: 0 25px;
	list-style-type: none;
}

ul.navigation ul {
	list-style-type: disc;
	list-style-position: inside;
}

ul.navigation ul li {
	margin-top: 2px;
}

ul.navigation li ul li a {
	color: #454545;
	text-decoration: none;
}

ul.navigation li ul li a:hover {
	text-decoration: underline;
}

ul li.active ul li.active a {
	font-weight: bold;
}

ul.navigation li span {
	font-size: 15px;
	font-weight: bold;
	color: #1FA4CD;
	padding-top: 20px;
	padding-bottom: 10px;
	display: block;
}

div#leftMenuTitle {
	background-image: url('/images/leftmenu_title_bg.png');
	height: 24px;
	padding-left: 10px;
}

div#leftMenuTitle span.label {
	font-size: 15px;
	font-style: italic;
	color: white;
}

div#leftMenuTitle span.icon {
	float:right;
	margin:5px;
}

div#leftMenu {
	width:100%;
}

/**** Search ****/
div#searchBox {
	background-color:black;
}

span#searchSubmit {}

span#searchSubmit_label {
	background-repeat: no-repeat;
	background-image: url('/images/icon_757575.png');
	background-position: 0 -97px;
	height: 16px;
	padding-left: 18px;
}

#searchFormContent {
}

#searchResultLabel {
	color: #9C9C9C;
	font-size: 12px;
	margin: 10px;
	float: right;
}

/**** Query TableItemList ****/


a.listItemOperation {
	opacity:0;
	float:right;
}

a.listItemOperation:hover {
	background-image: url('/images/icon_1c92b7.png');
}

/**** List Item ****/

div#infoSettings {
	width:500px;
}

ul.viewList {
	/*list-style-type: none;*/
	width: inherit;
}

li.viewListItem {
	line-height: 30px;
	border-top: 1px solid #EAEAEA;
}

ul li.viewListItem div span {
	display:inline-block;
}

ul li.viewListItem div span.label {
	padding-left: 10px;
	width: 150px;
	font-weight:bold;
	color:#1FA4CD;
	vertical-align:top;
}

ul li.viewListItem div span.value {
	width: 300px;
}

ul li.viewListItem div span.editIcon {
	opacity:0;
	margin-top: 5px;
	float:right;
}

li.viewListItem:hover div span.editIcon {
	opacity:1;
}

.openPanel .title {
	height:0px;
	visibility:hidden;
}

.openPanel .editor {
	display:block;
}

.preview img {
	border:1px solid #DBDBDB;
	float:left;
	margin-right:10px;
}

.preview {
	margin:10px 0;
}

.preview div {
	display:inline-block;
}

.preview .head {
	font-weight:bold;
	width:80px;
}

/** improved Section **/
/** result table **/
#resultTable {
	/*border-collapse:collapse;*/
	width: 100%;
	padding:.5em;
}

#resultTable th {
	text-align:left;
	color: #ffffff;
	background-color: #3DBBE1;
	padding:.5em;
}

#resultTable .item td {
	padding:.5em;
	border-bottom: 1px dashed #757575;
}

#resultTable .item:hover {
	background-color: #F7F7F7;
	cursor: pointer;
}
#resultTable .deleleOp {
	float:right;
	opacity:.1;
}
#resultTable .item:hover .deleleOp {
	opacity:1;
}

#resultTable .item .loader {
	float:right;
}