@CHARSET "ISO-8859-1";

/**** Layout ****/
div#globalContainer {}

div#pageContainer {
	margin: 0 auto;
	width: 990px;
}

div#headerContainer {}

div#contentContainer {}

div#mainContentContainer {
	width:739px;
	display:inline-block;
	/* border-right:1px solid #a8a8a8; */
	min-height:900px;
}

div#rightContentContainer {
	float:right;
	width:245px;
}


/**** Menu ****/

ul.mainMenu {
	padding: 99px 0 0 183px;
	width: 807px;
}

li.mainMenuItem {
	padding: 0 0 0 1px;	
}

li.mainMenuItem a {
	padding: 0 25px;
	display: block;
	background-image: url('/images/default_main_menu_bg.png');
	background-repeat:repeat-x;
	font-size: 16px;
	color:white;
	line-height: 31px;
	text-shadow: black 0px 1px 4px;
}

li.mainMenuItem a:hover {
	text-shadow: white 0px 1px 4px;;
}

/** elements **/
.title_bar {
	background-image:url('/images/title_bar_bg.png');
	background-repeat:repeat-x;
	height: 36px;
	font-size: 16px;
	color: #1fa4cd;
	border: 1px solid #DBDBDB;
	border-radius: 5px;
}

.noTopRadius {
	border-top-left-radius:0;
	border-top-right-radius:0;
}

.title_bar .see_all {
	float:right;
	line-height:32px;
	margin-top:2px;
	color: #1fa4cd;
	margin-right:10px;
}

.title_bar .title_text:before {
	content:url('/images/soul_icon.png');
}

.title_bar .title_text {
	font-size: 24px;
	color: #1fa4cd;
	margin-left: 10px;
}

.rightColumnItem {
	margin: 7px 10px;
}

.rightColumnTitleBar {
	margin: 7px 0 !important;
}

.bigAppstore {
	width:225px;
	height:76px;
	margin-top:15px !important;
}

.websiteLogo {
	position:absolute;
}

.websiteLogo .textLogo {
	position:absolute;
	top:25px;
	left:75px;
}
/** login form **/
#loginContainer {
	float:right;
/* 	background:url('/images/login_separator_bg.png') top left no-repeat; */
	min-width:204px;
	height:78px;
	padding:.5em 0 0 .5em;
}
#loginContainer a, #cartItemCount {
	font-size:12px;
}
#cartItemCount {
	font-weight:bold;
	color:red;
}
#loginContainer .logout {
	font-size:12px;
	float:right;
}
#loginForm dt {
	width:50px;
}
#loginForm label, #loginForm input, #loginForm .responseMessage {
	font-size:12px;
	line-height:16px;
}
#loginForm dd {
/* 	line-height:25px; */
	padding-left:50px;
	padding-bottom:2px;
}
#loginForm input[type='text'],#loginForm input[type='password'] {
	width:150px;
}
#loginForm .responseMessage {
	color:red;
}
/*** Content Common ***/
.viewStat:before {
	content:url('/images/view_stat_icon.png');
}

.commentStat:before {
	content:url('/images/comment_stat_icon.png');
}

.viewStat, .commentStat {
	color:#ff6600;
	margin:0 5px;
	vertical-align:top;
}

.blackBtn {
	background:url('/images/black_btn_bg.png') repeat-x;
	border:1px solid #000000;
	border-radius:5px;
	padding:0 5px;
	display:inline-block;
	margin:0 2px;
}

.counter {
	font-size:12px;
	color:#ffffff;
}

.counter:before {
	margin-right:2px;
}

.blackBtn .viewCounter:before {
	content:url('/images/bubble_icon.png');
}

.blackBtn .commentCounter:before {
	content:url('/images/pencil_icon.png');
}

/*** article ***/
.articleContainer .article {
	border:1px solid #DBDBDB;
	border-radius:5px;
	padding:1em;
	margin:.5em 0;
}
.articleContainer h2 {
	margin:0;
}
.articleContainer img {
	margin-right:1em;
}
.articleContainer .meta {
	vertical-align:top;
	width:435px;
	display:inline-block;
}
.articleContainer .description {
	margin-top:1em;
}
.articleContainer .stat {
	margin-top:20px;
	text-align:right;
}
#articleDetail {
	border:1px solid #dbdbdb;
	border-radius:5px;
	padding:10px;
}
#articleDetail #contentBody {
	margin:30px 0;
}

/** contents **/
.verticalStyleContainer {
	margin:.5em 0;
}
.verticalStyleContainer .lastestList {
	padding-right:.5em;
	background:url('/images/gray_grad_v_line.png') right center no-repeat;
	width:249px;
	display:inline-block;
}
.verticalStyleContainer img {
	display:block;
	margin:.5em 0;
}
.verticalStyleContainer .headline {
	font-weight:bold;
	font-size:18px;
}
.verticalStyleContainer .nextList img {
	float:left;
	border:1px solid #DBDBDB;
	margin:0 5px 5px 0 !important;
}
.verticalStyleContainer .nextList {
	list-style-type:none;
	display:inline-block;
	margin:0 .5em;
	width:454px;
	vertical-align:top;
}
.verticalStyleContainer .nextList .item {
	padding:.5em 0;
	min-height:91px;
	border-bottom:1px dashed #DBDBDB;
}
#newsContentContainer {
	margin:1em 0;
}
#newsContentContainer .headline {
	color:#1FA4CD !important;
}
#newsContentContainer a:hover {
	color:#1FA4CD !important;
}
#newsContentContainer .newsContent {
	margin-top:1em;
}
/** cart **/
.orderButton, .infoButton {
	background:no-repeat center top;
	display:inline-block !important;
	cursor:pointer;
	width:32px;
	height:50px;
}
.orderButton {
	background-image:url('/images/cart_order_btn.png');
}
.infoButton {
	background-image:url('/images/cart_info_btn.png');
}
.sliderHorizontalLayout .orderButton, .sliderHorizontalLayout .infoButton {
	position:absolute;
	top:0px;
}
.sliderHorizontalLayout .orderButton {
	right:-40px;
}
.sliderHorizontalLayout .infoButton {
	right:-78px;
}
.price {
	margin:20px 0 5px;
}
.sliderHorizontalLayout .price {
	position:absolute;
	top:100px;
	left:5px;
}
.price div, .price span {
	font-size:14px;
	color:#339933;
}
.sliderHorizontalLayout div {
	margin-right:10px;
}
.price span {
	margin:0 5px;
}
.price .notSale span {
	text-decoration:line-through;
}
.price .sale, .price .sale span {
	color:#FF3300;
	font-weight:bold;
}
.defaultProductThumbnail .desc {
	font-size:12px; 
	color:#657686;
}
.defaultProductThumbnail h4 {
	margin:0 0 .5em;
}
/* thumbnail slider begin */


/* DIV container slider example */
#normalBookContainer, #dedicatedBookContainer {  width:728px ; height:170px; margin:10px auto; display:block; position:relative; }

/* create custom forward-backward buttons for this container */
.addfwd { display:block; position:absolute; cursor:pointer; width:25px; height:170px; top:0px; right:0px; background:url(/images/right_nav_btn.png) no-repeat center;  }
.addbkwd { display:block; position:absolute; cursor:pointer; width:25px; height:170px; top:0px; left:0px; background:url(/images/left_nav_btn.png) no-repeat center;  }

/* the width is set to show the number of thumbnails that will be visible */
#normalBookThumbContainer, #dedicatedBookThumbContainer { position:relative ; overflow:hidden ; width:678px ; height:170px ; margin:0px 25px; }
/* the thumbnails container; set a width on it so everything will be fine */
#normalBookThumb, #dedicatedBookThumb { display:block; position:relative; width:6000px; }

.defaultProductThumbnail { display:block; position:relative; float:left; margin-right:5px; width:296px; height:170px;}

#normalBookThumb a, #dedicatedBookThumb a { padding:0px; margin:0px; clear:both; display:block; }
#normalBookThumb a img, #dedicatedBookThumb a img{ border:1px #333333 solid; margin-right:5px; float:left; }

/* thumbnail slider end */

/** footer **/

#footerContainer {
	background-image:url('/images/footer_separator.png');
	background-repeat:no-repeat;
	min-height:300px;
	background-position:center top;
	margin:1em 0;
	padding:1em 0;
}

#footerContainer ul {
	list-style-type:none
}

ul#footerNavigator > li {
	display:inline-block;
	vertical-align:top;
	padding:0 1em;
}

ul#footerNavigator li.topic {
	font-size:18px;
	color:#1fa4cd;
	margin-bottom:15px;
}